<section class="title-bar">
  <h1>
    Symple
  </h1>
  <i class="fa expand-icon"
     [ngClass]="{'fa-caret-square-o-up' : mainMenuService.isMenuExpanded, 'fa-bars' : !mainMenuService.isMenuExpanded }"
     (click)="mainMenuService.toggleMenu()"></i>
</section>
