<nav [ngClass]="{'shrunk' : !mainMenuService.isMenuExpanded}">
  <div class="expand-icon" (click)="mainMenuService.toggleMenu()">
    <i class="fa"
       [ngClass]="{'fa-caret-square-o-left' : mainMenuService.isMenuExpanded, 'fa-bars' : !mainMenuService.isMenuExpanded }"></i>
  </div>
  <ul>
    <li *ngFor="let link of links">
      <a>
        <i *ngIf="link.icon" class="fa {{link.icon}}"></i>
        <span>{{link.text}}</span>
      </a>
    </li>
  </ul>
</nav>
