/* You can add global styles to this file, and also import other style files */
@import "/theme/colors";
@import "/theme/sizes";
@import "/theme/fonts";


/* Mobile First */

html {
  min-height: 100%;
}

body {
  height: 100vh;
}

html, body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  font-weight: $font-weight-primary;
}

app-main-menu{
  background-color: $color-menu-background;
}

nav{

  .expand-icon{
    display: none;
    text-align: left;
    margin: $size-standard-padding
  }

  &.shrunk ul{
    max-height: 0;
  }

  ul{
    background: $color-menu-background;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    height: auto;
    max-height: 520px;
    transition: max-height .3s ease-in-out;

    overflow-y: hidden;
    overflow-x: hidden;

    li{
      width: 100%;
      color: $color-menu-link;
      border-bottom: 1px solid $color-menu-divider;
      cursor: pointer;

      &:hover{
        background-color: $color-menu-highlight;
      }

      a{
        display: block;
        text-align: left;
        width: 100%;
        height: 100%;
        padding: $size-standard-padding * 2;
        font-size: $size-text-navigation;

        i {
          margin-right: $size-standard-padding;
        }
      }
    }

  }
}

main{
  margin: $size-standard-padding;
}

app-title-bar{
  section{

    display: flex;
    flex-direction: row;
    background-color: $color-title-bar;

    h1{
      color: $color-text-title-bar;
      margin: 0;
      padding: $size-standard-padding * 2;
      font-size: $size-text-title;
      flex-grow: 1;
      flex-shrink: 1;
    }

    i.fa{
      font-size: $size-text-title;
      flex-basis: 40px;
      flex-shrink: 0;
      flex-grow: 0;
      align-self: center;
      color: $color-text-title-bar;
    }
  }
}

.friendly-box{
  box-shadow: $color-shadow 1px 1px 3px;
  padding: $size-standard-padding;
  min-height: 300px;
  margin-top: $size-standard-padding * 2;
}

/* Desktop Resolutions */
@media(min-width: 720px){

  app-root{
    height: 100%;
    display: grid;
    grid-template-columns: auto 20px 1fr 20px;
    grid-template-rows: 100px 1fr 40px;
    grid-template-areas: 'menu header  header  header'
                         'menu .       content .     '
                         'menu footer  footer  footer';

    app-title-bar{
      grid-area: header;

      .expand-icon{
        display: none;
      }
    }

    app-main-menu{
      grid-area: menu;
      border-right: 1px solid #000;
    }

    nav{

      .expand-icon{
        display: block;
        height: 100px;
        i.fa{
          margin-left: 10px;
          margin-top: 14px;
          font-size: $size-text-title;
          flex-basis: 40px;
          flex-shrink: 0;
          flex-grow: 0;
          align-self: center;
          color: $color-text-title-bar;
          font-size: 24px;
        }
      }

      &.shrunk ul{
        max-width: 60px;
        max-height: 200%;

        span{
          max-width: 0;
          opacity: 0;
        }
      }

      ul{
        display: flex;
        height: auto;
        max-height: 200%;
        width: 240px;
        max-width: 240px;
        transition: max-width .5s;
        overflow-x: hidden;

        a{
          height: 32px;
          overflow-y: hidden;
          overflow-x: hidden;
          position: relative;

          span{
            max-width: 9999px;
            transition: width .5s ease-in-out, opacity .5s;
            opacity: 1;
            white-space: nowrap;
            position: absolute;
            left: 50px;

          }
        }
      }
    }

    main{
      grid-area: content;
    }
  }


}
